<div class="form">
  <h3>signin</h3>
  <%= form_for(@user, url: sessions_path, method: :post) do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <br>
    <%= f.submit 'sign in' %>
  <% end %>
</div>


<div class="form">
  <h3>join</h3>
  <%= form_for(@user, url: users_path, method: :post) do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
    <br>
    <br>
    <%= f.submit 'join' %>
  <% end %>
</div>
