<div class="user_page_top_header">
  <%= link_to 'home', root_path %>
</div>
<br>
<div class="big_header">
  <h1><%= @user.username %></h1>
</div>
<div class="small_header">
  <%= "points ~ #{@user.total}" %><br>
  <%= "submissions ~ #{@user.submissions.length}" %><br>
  <%= "taste ~ #{@user.avg}" %>
</div>
<%= render @user %>
