
<li class="song" id="<%=song.id%>">
  <% if current_user %>
    <% if able_to_vote?(song, current_user) %>
      <%= link_to('^', upvote_song_path(song), method: :post, class: 'upvote') %>
      &nbsp;
    <% else %>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <% end %>
  <% else %>
    <%= link_to '^', new_session_path, class: 'upvote' %>
    &nbsp;
  <% end %>

  <% if song.song_link.split("youtube.com")[1] %>
    <span id="song"><%= link_to " #{song.song_artist} - #{song.song_name}", songs_path(:d => song.song_link.split('watch?v=')[1]) %></span>
  <% else %>
    <span id="song"><%= link_to " #{song.song_artist} - #{song.song_name}", song.song_link, :target => '_blank' %></span>
  <% end %>
  <br>
  <div class="info_bar">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <% if song.points == 1 %>
      <%= "1 point  ~ " %>
    <% else %>
      <span class="12345"><%= "#{song.points} points ~ " %></span>
    <% end %>
    <%= link_to song.author.username, user_path(song.author) %>
    <%= "| " %>
    <%= "#{distance_of_time_in_words(song.created_at-Time.now)} ago" %>
  </div>
</li>