<div style="background: white; color: black;">
	<b>song listens</b><br>
	<% @slistens.reverse.each do |listen| %>
		<% song = Song.find(listen.song_id) %>
		<%= distance_of_time_in_words(listen.created_at - Time.now)%> &nbsp;&nbsp;&nbsp; id ~ <%= listen.id %>  &nbsp;&nbsp;&nbsp; <%= song.song_artist%> - <%= song.song_name %> &nbsp;&nbsp;&nbsp; user ~
			<% if listen.user_id == 0 %>
				0
			<% else %>
				<%= User.find(listen.user_id).username %>
			<% end %>
			<a style="margin-left:50px;color:blue;"href="<%=Song.find(listen.song_id).song_link%>" target="_blank">source</a>
		<br>
	<% end %>
	<b>like</b><br>
	<% @likez.each do |like| %>
		<% song = Song.find(like.song_id) %>
		<%= distance_of_time_in_words(like.created_at - Time.now) %> song ~ <%= song.song_artist  %> - <%= song.song_name %> &nbsp;&nbsp;&nbsp; user_id ~ <%= like.user.username %><br>
	<% end %>
	<b>songs</b><br>
	<% @songz.each do |song| %>
		id = <%= song.id %>&nbsp;&nbsp;&nbsp;<%= distance_of_time_in_words(song.created_at - Time.now) %> &nbsp;&nbsp;&nbsp; <%= song.song_artist %> - <%= song.song_name %>&nbsp;&nbsp;&nbsp; user ~ <%= song.author.username %>
		<a style="margin-left:50px;color:blue;"href="<%=song.song_link%>" target="_blank">source</a>
		<br>
	<% end %>
	<br>
	<b>user</b><br>
	<%= distance_of_time_in_words(@userz.created_at - Time.now) %> &nbsp;&nbsp;&nbsp; id ~ <%= @userz.id.to_s %> &nbsp;&nbsp;&nbsp; <%= @userz.username %>
	<br><br>
	<b>broken songs</b><br>
	<% @mentionz.each do |mention| %>
	<%= distance_of_time_in_words(mention.created_at - Time.now)%> &nbsp;&nbsp;&nbsp; id ~ <%= mention.id %> &nbsp;&nbsp;&nbsp; song_id ~ <%= mention.remark_id %> &nbsp;&nbsp;&nbsp; <a style="margin-left:50px;color:blue;"href="<%=Song.find(mention.remark_id).song_link%>" target="_blank">source</a><br>
	<% end %>
</div>