<div class="top_header">
  <% if current_user %>
    <%= link_to 'logout', session_path(current_user), method: :delete %>
    <%= "| " %>
    <%= link_to "#{current_user.username}", user_path(current_user) %>
    <%= "| " %>
    <%= "avg(#{current_user.avg})" %>
  <% else %>
    <%= link_to 'login', new_session_path %>
    <%= "| " %>
    <%= link_to 'signup', new_user_path %>
  <% end %>
  <%= "| " %>
  <%= link_to 'submit', new_song_path %>
</div>

<div class="big_header">
  <h1><%= link_to '.dream', root_path %></h1>
</div>

<div class="small_header_index">
  <%= link_to "relevance", songs_path(:by_time => 0) %>
  <%= "| " %>
  <%= link_to "time", songs_path(:by_time => 1) %>
</div>
<ol>
  <%= render @songs %>
</ol>
<div class="testing1">
  <!-- <i>We</i> d<span class="space">&nbsp;</span>r<span class="space">&nbsp;</span>e<span class="space">&nbsp;</span>a<span class="space">&nbsp;</span>m<i>ed of discovering great music easily</i> -->
  <i>.we <a href="http://2.bp.blogspot.com/-gywJK-U4r6Q/TzVkRSwMKZI/AAAAAAAABQE/unOBjquC6d8/s1600/steve-jobs-meditation.jpg" target="_blank">d</a><a href="http://ep.yimg.com/ca/I/paulgraham_2234_10334" target="_blank">r</a><a href="https://www.google.com" target="_blank">e</a><a href="https://www.google.com" target="_blank">a</a><a href="https://www.google.com" target="_blank">m</a> of simple music exploration</i>
  <br><br><br><br><br>
  <i>.come along on our adventure</i>

</div>
