<div class="top_header">
  <%= link_to '.dream', root_path %>
  <%= "| " %>
  <% if current_user %>
    <%= link_to 'logout', session_path(current_user), method: :delete %>
    <%= "| " %>
    <%= link_to "#{current_user.username}", user_path(current_user) %>
    <%= "| " %>
    <%= "total(#{current_user.total})" %>
  <% else %>
    <%= link_to 'login', new_session_path %>
    <%= "| " %>
    <%= link_to 'signup', new_session_path %>
  <% end %>
  <%= "| " %>
  <%= link_to 'submit', new_song_path %>
</div>

<div class="big_header">
  <h1><%= link_to '.edm', root_path %></h1>
</div>

<div class="small_header_index">
  <%= link_to "relevance", songs_path(:by_time => 0), :class => 'relevance' %>
  <%= "| " %>
  <%= link_to "time", songs_path(:by_time => 1), :class => 'time' %>
</div>
<div id="12345" data-time="<%=@by_time%>">
  <ol start=<%= "#{@start_num}" %> id="songwrap" >
      <%= render @songs %>
      <div class="pagination">
        <% if @more %>
          <% params[:page] = @next_page %>
          <span id="nextbtn"><%= link_to 'next', songs_path(params) %></span>
        <% end %>
      </div>
  </ol>
</div>
<div class="testing1">

  <% if @embed %>
    <% if @embed.include?('soundcloud') %>
      
      <% embed_info = @client.get('/oembed', :url => CGI::unescape(@embed)) %>
      <% p embed_info %>
      <%= embed_info['html'] %>
    <% else %>
      <iframe  width="545" height="335" src=<%="http://www.youtube.com/embed/#{@embed}?autoplay=1&controls=2&iv_load_policy=3&autohide=2&modestbranding=1&loop=1"%> frameborder="0"></iframe>
    <% end %>
  <% else %>
    <div class="motto">
      <i>&nbsp;&nbsp;&nbsp;&nbsp;we love music <br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;we value simplicity <br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;we <a href="http://bit.ly/X9MzcP" target="_blank">d</a><a href="http://bit.ly/XNAcV7" target="_blank">r</a><a href="http://bit.ly/VTta4S" target="_blank">e</a><a href="http://bit.ly/VTtdxu" target="_blank">a</a><a href="http://bit.ly/YZ6DAM" target="_blank">m</a> simple music exploration</i>
    </div>
  <% end %>
</div>


<script src="//connect.soundcloud.com/sdk.js"></script>
<script>
    SC.initialize({client_id:"8f1e619588b836d8f108bfe30977d6db"});
</script>
<script type="text/javascript">


  $(function(){

    $('#12345').on('click', '#nextbtn a', function(ev){
      ev.preventDefault();
      var songStart = parseInt($('ol').attr('start')) + 15
      var page = parseInt($('#nextbtn a').attr('href').split('?page=')[1])
      var byTime = $('#12345').attr('data-time')
      $('#songwrap').remove()
      $.getJSON(
        '/songs.json?page='+page+'&by_time='+byTime+'',
        function(data){
          $('#12345').append('<ol start="' + songStart + '" id="songwrap"></ol>')
          $.each(data, function(i, datum){
            var songID = datum['id']
            var link = datum['song_link'].split('watch?v=')[1]
            var points = datum['points']
            var createdAt = datum['created_at']

            if (link == undefined){
              var link = datum['song_link'];
            }

            $('#songwrap').append('<li class="song" id="'+i+'"></li>')
            if (datum['voted'] == 0){
              $('#'+i).append('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;')
            } else if (datum['voted'] == 1){
              $('#'+i).append('<a href="/sessions/new" class="upvote">^</a>&nbsp;&nbsp;&nbsp;')
            } else {
              $('#'+i).append('<a href="/songs/'+songID+'/upvote" class="upvote">^</a>&nbsp;&nbsp;&nbsp;')
            }
            $('#'+i).append('<span id="song"><a href="/songs?d='+link+'">'+datum["song_artist"]+" - "+datum["song_name"]+'</a></span>')
            $('#'+i).append('<div class="info_bar">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>')
            $('#'+i+' .info_bar').append('<span class="12345">'+points+' points ~ </span>')
            $('#'+i+' .info_bar').append('<a href="/users/'+datum["author_id"]+'">'+datum["author"]+'</a>')
            $('#'+i+' .info_bar').append('&nbsp;|&nbsp;'+ datum['time'] +' ago')
          })
          $('#songwrap').append('<div class="pagination"><span id="nextbtn"><a href="/songs?page='+ (page+1) +'">next</a></span></div>')
        }
      )
      ev.stopImmediatePropagation()
    })

    $('#12345').on('click', '.upvote',function(ev){
      ev.preventDefault();
      ev.stopImmediatePropagation();

      var that = this;
      var parent = this.parentNode;
      songID = parseInt($(parent).attr('id'));


      path = $(this).attr('href') + '.json'
      if (path == '/sessions/new.json'){
        $('#songwrap').append('<a class="need-to-login" href="/sessions/new">login</a>')
        $('.need-to-login').css('top', ev.pageY - 8)
        $('.need-to-login').css('left', ev.pageX - 65)
      } else {
      $.post(path, function(response){
        $(that).remove();
        $(parent).prepend('</b>&nbsp;&nbsp;&nbsp;<b>')
      })
      }
    })

    $('#12345').on('click', '#song a', function(ev){
      ev.preventDefault();
      ev.stopImmediatePropagation();
      $('.testing1').empty();
      var link = this['href'].split('songs?d=')[1]

      if (link == undefined){
        var link = datum['song_link'];
      }

      if (link.indexOf('soundcloud')+1){
        var link = link.replace(/%2F/g, '/').replace(/%3A/g, ':')
        SC.oEmbed(link,{auto_play:true, maxwidth:600, show_comments: false, color:'266973' }, function(track){
          $('.testing1').append(track.html);
        })
      } else {
        $('.testing1').append('<iframe width="545" height="335" src="http://www.youtube.com/embed/'+ link +'?autoplay=1&controls=2&iv_load_policy=3&autohide=2&modestbranding=1&loop=1" frameborder="0"></iframe>')
      }
    })

    $('.relevance').click(function(ev){
      ev.preventDefault();
      ev.stopImmediatePropagation();
      $('#songwrap').remove();

      $.getJSON(
        '/songs.json?page=-1',
        function(data){
          $('#12345').append('<ol start="1" id="songwrap"></ol>')
          $('#12345').attr('data-time', '')
          $.each(data, function(i, datum){
            var songID = datum['id']
            var link = datum['song_link'].split('watch?v=')[1]
            var points = datum['points']
            var createdAt = datum['created_at']

            if (link == undefined){
              var link = datum['song_link'];
            }

            $('#songwrap').append('<li class="song" id="'+i+'"></li>')
            if (datum['voted'] == 0){
              $('#'+i).append('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;')
            } else if (datum['voted'] == 1){
              $('#'+i).append('<a href="/sessions/new" class="upvote">^</a>&nbsp;&nbsp;&nbsp;')
            } else {
              $('#'+i).append('<a href="/songs/'+songID+'/upvote" class="upvote">^</a>&nbsp;&nbsp;&nbsp;')
            }
            $('#'+i).append('<span id="song"><a href="/songs?d='+link+'">'+datum["song_artist"]+" - "+datum["song_name"]+'</a></span>')
            $('#'+i).append('<div class="info_bar">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>')
            $('#'+i+' .info_bar').append('<span class="12345">'+points+' points ~ </span>')
            $('#'+i+' .info_bar').append('<a href="/users/'+datum["author_id"]+'">'+datum["author"]+'</a>')
            $('#'+i+' .info_bar').append('&nbsp;|&nbsp;'+ datum['time'] +' ago')
          })
          $('#songwrap').append('<div class="pagination"><span id="nextbtn"><a href="/songs?page=1">next</a></span></div>')
        }
      )
    })

    $('.time').click(function(ev){
      ev.preventDefault();
      ev.stopImmediatePropagation();
      $('#songwrap').remove();

      $.getJSON(
        '/songs.json?page=-1&by_time=1',
        function(data){
          $('#12345').append('<ol start="1" id="songwrap"></ol>')
          $('#12345').attr('data-time', true)
          $.each(data, function(i, datum){
            var songID = datum['id']
            var link = datum['song_link'].split('watch?v=')[1]
            var points = datum['points']
            var createdAt = datum['created_at']

            if (link == undefined){
              var link = datum['song_link'];
            }

            $('#songwrap').append('<li class="song" id="'+i+'"></li>')
            if (datum['voted'] == 0){
              $('#'+i).append('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;')
            } else if (datum['voted'] == 1){
              $('#'+i).append('<a href="/sessions/new" class="upvote">^</a>&nbsp;&nbsp;&nbsp;')
            } else {
              $('#'+i).append('<a href="/songs/'+songID+'/upvote" class="upvote">^</a>&nbsp;&nbsp;&nbsp;')
            }
            $('#'+i).append('<span id="song"><a href="/songs?d='+link+'">'+datum["song_artist"]+" - "+datum["song_name"]+'</a></span>')
            $('#'+i).append('<div class="info_bar">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>')
            $('#'+i+' .info_bar').append('<span class="12345">'+points+' points ~ </span>')
            $('#'+i+' .info_bar').append('<a href="/users/'+datum["author_id"]+'">'+datum["author"]+'</a>')
            $('#'+i+' .info_bar').append('&nbsp;|&nbsp;'+ datum['time'] +' ago')
          })
          $('#songwrap').append('<div class="pagination"><span id="nextbtn"><a href="/songs?page=1">next</a></span></div>')
        }
      )
    })

    $('h1 a').click(function(ev){
      ev.preventDefault();
      ev.stopImmediatePropagation();
      $('#songwrap').remove();

      $.getJSON(
        '/songs.json?page=-1',
        function(data){
          $('#12345').append('<ol start="1" id="songwrap"></ol>')
          $.each(data, function(i, datum){
            var songID = datum['id']
            var link = datum['song_link'].split('watch?v=')[1]
            var points = datum['points']
            var createdAt = datum['created_at']

            if (link == undefined){
              var link = datum['song_link'];
            }

            $('#songwrap').append('<li class="song" id="'+i+'"></li>')
            if (datum['voted'] == 0){
              $('#'+i).append('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;')
            } else if (datum['voted'] == 1){
              $('#'+i).append('<a href="/sessions/new" class="upvote">^</a>&nbsp;&nbsp;&nbsp;')
            } else {
              $('#'+i).append('<a href="/songs/'+songID+'/upvote" class="upvote">^</a>&nbsp;&nbsp;&nbsp;')
            }
            $('#'+i).append('<span id="song"><a href="/songs?d='+link+'">'+datum["song_artist"]+" - "+datum["song_name"]+'</a></span>')
            $('#'+i).append('<div class="info_bar">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>')
            $('#'+i+' .info_bar').append('<span class="12345">'+points+' points ~ </span>')
            $('#'+i+' .info_bar').append('<a href="/users/'+datum["author_id"]+'">'+datum["author"]+'</a>')
            $('#'+i+' .info_bar').append('&nbsp;|&nbsp;'+ datum['time'] +' ago')
          })
          $('#songwrap').append('<div class="pagination"><span id="nextbtn"><a href="/songs?page=1">next</a></span></div>')
        }
      )
    })

  })
</script>

