<div class="top_header">
  <%= link_to 'roseay', root_path %>
  <%= "| " %>
  <% if current_user %>
    <%= link_to 'logout', session_path(current_user), method: :delete %>
    <%= "| " %>
    <%= link_to "#{current_user.username}", user_path(current_user), {class: 'user', data_author_total: current_user.total, data_author_avg: current_user.avg, data_author_submissions: current_user.submissions.length} %>
    <%= "| " %>
    <%= "total(#{current_user.total})" %>
  <% else %>
    <%= link_to 'login', new_session_path %>
    <%= "| " %>
    <%= link_to 'signup', new_session_path, class: 'x1c2' %>
  <% end %>
  <%= "| " %>
  <%= link_to 'submit', new_song_path %>
</div>

<div class="big_header">
  <h1><%= link_to '.edm', root_path %></h1>
</div>

<div class="small_header_index">
  <%= link_to "relevance", songs_path(:by_time => 0), :class => 'relevance' %>
  <%= "| " %>
  <%= link_to "time", songs_path(:by_time => 1), :class => 'time' %>
</div>
<div id="12345" data-time="<%=@by_time%>">
  <ol start=<%= "#{@start_num}" %> id="songwrap" >
      <%= render @songs %>
      <span class="pagination">
        <% if @more %>
          <% params[:page] = @next_page %>
          <span id="nextbtn"><%= link_to 'next', songs_path(params) %></span>
        <% end %>
      </span>
  </ol>
</div>
<div class="testing1">

  <% if @embed %>
    <% if @embed.include?('soundcloud') %>
      <% embed_info = @client.get('/oembed', :url => CGI::unescape(@embed)) %>
      <% p embed_info %>
      <%= embed_info['html'] %>
    <% else %>
      <iframe  width="545" height="335" src=<%="http://www.youtube.com/embed/#{@embed}?autoplay=1&controls=2&iv_load_policy=3&autohide=2&modestbranding=1&loop=1"%> frameborder="0"></iframe>
    <% end %>
    
  <% else %>
    <!-- <div class="motto"> -->
<!--       &nbsp;&nbsp;&nbsp;&nbsp;we love music <br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;we value simplicity <br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;we <a href="http://bit.ly/X9MzcP" target="_blank">d</a><a href="http://bit.ly/XNAcV7" target="_blank">r</a><a href="http://bit.ly/VTta4S" target="_blank">e</a><a href="http://bit.ly/VTtdxu" target="_blank">a</a><a href="http://bit.ly/YZ6DAM" target="_blank">m</a> simple music exploration -->
       <!-- <i>&nbsp;"she got a big booty so I call her big booty"<br><br>
      &nbsp;&nbsp;&nbsp;&nbsp;- Two Chainz <br><br><br>
      &nbsp;we aspire to be that simple. <br><br><br><br><br></i> -->
      <!--&nbsp;"omg call 911" <br><br>
      &nbsp;&nbsp;&nbsp;&nbsp;- Excited Girl In Skrillex's Song <br><br><br>
      &nbsp;and that legendary.
 -->
    <!-- </div> -->
  <% end %>
 <div class="comment-section">
  <div class="comment-header">
    comments ~ air<br>
  </div>
  <span class="comments">
    <button class="aircomment-btn">post comment</button>
    <textarea class="comment-input"></textarea>
    <div class="comment"><strong>test by test</strong> <br> hello i am testing this. ths is a great song dude!hello i am testing this. ths is a great so</div>
    <div class="comment"><strong>test by test </strong><br> hello i am testing this. ths is a great song dude!hello i am testing this. ths is a great song dude!hello i am testing this. ths is a great song dude!</div>
    <div class="comment"><strong>test by test</strong> <br> hello i am testing this. ths is a greis. ths is a great song dude!hello i am testing this. ths is a great song dude!</div>
    <div class="comment"><strong>test by test</strong> <br> hello i am testing this. ths is a great song dude! is a great song dude!hello i am testing this. ths is a great song dude!</div>
    <div class="comment"><strong>test by test</strong> <br> hello i am testing this. ths is a great song dude!hello i am testing this. ths is a great song dude!hello i am testing this. ths is a great song dude!</div>
    <div class="comment"><strong>test by test</strong> <br> hello i am tes song dude!hello i am testing this. ths is a great song dude!</div>
    <div class="comment"><strong>test by test</strong> <br> hello i am testing thie!hello i am testing this. ths is a great song dude!</div>
    <div class="comment"><strong>test by test</strong> <br> hello i am testing this. ths is a great song dude!hs is a great song dude!hello i am testing this. ths is a great song dude!</div>
    <div class="comment"><strong>test by test</strong> <br> hello i am testing this. ths is a great song dude!hs is a great song dude!hello i am testing this. ths is a great song dude!</div>
  </span>
 </div>
</div>



<script src="//connect.soundcloud.com/sdk.js"></script>
<script>
    SC.initialize({client_id:"8f1e619588b836d8f108bfe30977d6db"});
</script>
<script type="text/javascript">


  $(function(){

    $('.testing1').on('click', '.aircomment-btn', function(){
      var input = $('.comment-input').val();
      if (input){
        $.post(
          '/aircomments',
          {
            'aircomment': {
              'body': input
            }
          }, function(response){
            $('.comments').empty();
            $.each(response, function(comment){
              $('.comments').append();
            })
          })
      }
    })












    $('#12345').on('click', '#nextbtn a', function(ev){
      ev.preventDefault();

      if ($('ol').attr('goback-start')){
        var songStart = parseInt($('ol').attr('goback-start'))
      } else {
        var songStart = parseInt($('ol').attr('start')) + 20
      }

      var page = parseInt($('#nextbtn a').attr('href').split('?page=')[1])
      var byTime = $('#12345').attr('data-time')
      $('#songwrap').remove()
      $.getJSON(
        '/songs.json?page='+page+'&by_time='+byTime+'',
        function(data){
          $('#12345').append('<ol start="' + songStart + '" id="songwrap"></ol>')
          $.each(data, function(i, datum){
            var songID = datum['id']
            var link = datum['song_link'].split('watch?v=')[1]
            var points = datum['points']
            var createdAt = datum['created_at']

            if (link == undefined){
              var link = datum['song_link'];
            }

            if (datum['uphubbed'] == 0) {
              $('#songwrap').append('<li class="song" id="'+songID+'" data-uphub="true"></li>')
            } else {
              $('#songwrap').append('<li class="song" id="'+songID+'" data-uphub="false"></li>')
            }
            if (datum['voted'] == 0){
              $('#'+songID).append('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;')
            } else if (datum['voted'] == 1){
              $('#'+songID).append('<a href="/sessions/new" class="upvote">^</a>&nbsp;&nbsp;&nbsp;')
            } else {
              $('#'+songID).append('<a href="/songs/'+songID+'/upvote" class="upvote">^</a>&nbsp;&nbsp;&nbsp;')
            }
            $('#'+songID).append('<span id="song"><a href="/songs?d='+link+'">'+datum["song_artist"]+" - "+datum["song_name"]+'</a></span>')
            $('#'+songID).append('<div class="info_bar">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>')
            $('#'+songID+' .info_bar').append('<span class="12345">'+points+' points ~ </span>')
            $('#'+songID+' .info_bar').append('<a class="user" href="/users/'+datum["author_id"]+'" data_author_total="'+datum["author_total"]+'" data_author_avg="'+datum["author_avg"]+'" data_author_submissions="'+datum["author_submissions"]+'">'+datum["author"]+'</a>')
            $('#'+songID+' .info_bar').append('&nbsp;|&nbsp;'+ datum['time'] +' ago')
          })
          $('#songwrap').append('<span class="pagination"><span id="nextbtn"><a href="/songs?page='+ (page+1) +'">next</a></span></span>')
        }
      )
      ev.stopImmediatePropagation()
    })

    $('body').on('click', '.user', function(ev){
      ev.preventDefault();
      ev.stopImmediatePropagation()

      var path = $(this).attr('href')
      var total = $(this).attr('data_author_total')
      var avg = $(this).attr('data_author_avg')
      var submissions = $(this).attr('data_author_submissions')
      var page = parseInt($('#nextbtn a').attr('href').split('?page=')[1])
      var songStart = $('ol').attr('start')


      $('#songwrap').remove();
      $('#12345').append('<ol start="1" id="songwrap" goback-start="'+songStart+'"></ol>')
      if (page) {
        $('#songwrap').append('<br><span class="pagination"><span class="goback" id="nextbtn"><a href="/songs?page='+ (page-1) +'">back</a></span></span>')
      }

      $.getJSON(
        path,
        function(data){
          $('#songwrap').append('<h4 class="user_header">'+data['username']+'.hub</h4>')
          $('#songwrap').append('<div class="user_info">total ~ '+total+'<br>submissions ~ '+submissions+'<br>taste ~ '+avg+'</div>')

          if (data['songhubs'].length){
            $.each(data['songhubs'], function(i, datum){
              var songID = datum['id']
              var link = datum['song_link'].split('watch?v=')[1]
              var points = datum['points']
              var createdAt = datum['created_at']

              if (link == undefined){
                var link = datum['song_link'];
              }

              if (datum['uphubbed'] == 0) {
                $('#songwrap').append('<li class="song" id="'+songID+'" data-uphub="true"></li>')
              } else {
                $('#songwrap').append('<li class="song" id="'+songID+'" data-uphub="false"></li>')
              }
              
              $('#'+songID).append('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;')
              $('#'+songID).append('<span id="song"><a href="/songs?d='+link+'">'+datum["song_artist"]+' - '+datum["song_name"]+'</a></span>')
            })
          } else {
            $('#songwrap').append('<br><br><span style="margin-left:138px">empty playlist</span>')
          }
        }
        )
    })

    $('#12345').on('click', '.upvote',function(ev){
      ev.preventDefault();
      ev.stopImmediatePropagation();

      var that = this;
      var parent = this.parentNode;
      var songID = parseInt($(parent).attr('id'));


      path = $(this).attr('href') + '.json'
      if (path == '/sessions/new.json'){
        $('#songwrap').append('<a class="need-to-login" href="/sessions/new">login</a>')
        $('.need-to-login').css('top', ev.pageY - 8)
        $('.need-to-login').css('left', ev.pageX - 65)
      } else {
      $.post(path, function(response){
        $(that).remove();
        $(parent).prepend('</b>&nbsp;&nbsp;&nbsp;<b>')
      })
      }
    })

    $('.testing1').on('click', '.add-to-hubsongs', function(ev){
      ev.preventDefault();
      ev.stopImmediatePropagation();
      var path = $(this).attr('href')
      $(this).remove();

      if ($('.x1c2').length){
        $('.testing1').append('<a class="need-to-login2" href="/sessions/new">login</a>')
        $('.need-to-login2').css('top', ev.pageY)
        $('.need-to-login2').css('left', ev.pageX * .50)
      } else {
        $.post(path)
      }
    })

    $('#12345').on('click', '#song a', function(ev){
      ev.preventDefault();
      ev.stopImmediatePropagation();
      $('iframe').remove();
      var link = this['href'].split('songs?d=')[1]
      var songId = $(this).parent().parent().attr('id')

      if (link == undefined){
        var link = datum['song_link'];
      }

      if (link.indexOf('soundcloud')+1){
        var link = link.replace(/%2F/g, '/').replace(/%3A/g, ':')
        SC.oEmbed(link,{auto_play:true, maxwidth:545, height:300, show_comments: false, color:'266973' }, function(track){
          track.html['height'] = 300
          $('.testing1').append(track.html);
        })
      } else {
        $('.testing1').append('<iframe width="545" height="220" src="http://www.youtube.com/embed/'+ link +'?autoplay=1&controls=2&iv_load_policy=3&autohide=2&modestbranding=1&loop=1&fmt=18" frameborder="0"></iframe>')
      }

      if ($(this).parent().parent().attr('data-uphub') == 'true'){
        $('.testing1').append('<a href="/songs/'+ songId +'/uphub" class="add-to-hubsongs">+.hub</a>')
      }
    })

    $('.relevance').click(function(ev){
      ev.preventDefault();
      ev.stopImmediatePropagation();
      $('#songwrap').remove();

      $.getJSON(
        '/songs.json?page=-1',
        function(data){
          $('#12345').append('<ol start="1" id="songwrap"></ol>')
          $('#12345').attr('data-time', '')
          $.each(data, function(i, datum){
            var songID = datum['id']
            var link = datum['song_link'].split('watch?v=')[1]
            var points = datum['points']
            var createdAt = datum['created_at']

            if (link == undefined){
              var link = datum['song_link'];
            }
            if (datum['uphubbed'] == 0) {
              $('#songwrap').append('<li class="song" id="'+songID+'" data-uphub="true"></li>')
            } else {
              $('#songwrap').append('<li class="song" id="'+songID+'" data-uphub="false"></li>')
            }
            if (datum['voted'] == 0){
              $('#'+songID).append('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;')
            } else if (datum['voted'] == 1){
              $('#'+songID).append('<a href="/sessions/new" class="upvote">^</a>&nbsp;&nbsp;&nbsp;')
            } else {
              $('#'+songID).append('<a href="/songs/'+songID+'/upvote" class="upvote">^</a>&nbsp;&nbsp;&nbsp;')
            }
            $('#'+songID).append('<span id="song"><a href="/songs?d='+link+'">'+datum["song_artist"]+" - "+datum["song_name"]+'</a></span>')
            $('#'+songID).append('<div class="info_bar">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>')
            $('#'+songID+' .info_bar').append('<span class="12345">'+points+' points ~ </span>')
            $('#'+songID+' .info_bar').append('<a class="user" href="/users/'+datum["author_id"]+'" data_author_total="'+datum["author_total"]+'" data_author_avg="'+datum["author_avg"]+'" data_author_submissions="'+datum["author_submissions"]+'">'+datum["author"]+'</a>')
            $('#'+songID+' .info_bar').append('&nbsp;|&nbsp;'+ datum['time'] +' ago')
          })
          $('#songwrap').append('<span class="pagination"><span id="nextbtn"><a href="/songs?page=1">next</a></span></span>')
        }
      )
    })

    $('.time').click(function(ev){
      ev.preventDefault();
      ev.stopImmediatePropagation();
      $('#songwrap').remove();

      $.getJSON(
        '/songs.json?page=-1&by_time=1',
        function(data){
          $('#12345').append('<ol start="1" id="songwrap"></ol>')
          $('#12345').attr('data-time', true)
          $.each(data, function(i, datum){
            var songID = datum['id']
            var link = datum['song_link'].split('watch?v=')[1]
            var points = datum['points']
            var createdAt = datum['created_at']

            if (link == undefined){
              var link = datum['song_link'];
            }

            if (datum['uphubbed'] == 0) {
              $('#songwrap').append('<li class="song" id="'+songID+'" data-uphub="true"></li>')
            } else {
              $('#songwrap').append('<li class="song" id="'+songID+'" data-uphub="false"></li>')
            }
            if (datum['voted'] == 0){
              $('#'+songID).append('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;')
            } else if (datum['voted'] == 1){
              $('#'+songID).append('<a href="/sessions/new" class="upvote">^</a>&nbsp;&nbsp;&nbsp;')
            } else {
              $('#'+songID).append('<a href="/songs/'+songID+'/upvote" class="upvote">^</a>&nbsp;&nbsp;&nbsp;')
            }
            $('#'+songID).append('<span id="song"><a href="/songs?d='+link+'">'+datum["song_artist"]+" - "+datum["song_name"]+'</a></span>')
            $('#'+songID).append('<div class="info_bar">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>')
            $('#'+songID+' .info_bar').append('<span class="12345">'+points+' points ~ </span>')
            $('#'+songID+' .info_bar').append('<a class="user" href="/users/'+datum["author_id"]+'" data_author_total="'+datum["author_total"]+'" data_author_avg="'+datum["author_avg"]+'" data_author_submissions="'+datum["author_submissions"]+'">'+datum["author"]+'</a>')
            $('#'+songID+' .info_bar').append('&nbsp;|&nbsp;'+ datum['time'] +' ago')
          })
          $('#songwrap').append('<span class="pagination"><span id="nextbtn"><a href="/songs?page=1">next</a></span></span>')
        }
      )
    })

    $('h1 a').click(function(ev){
      ev.preventDefault();
      ev.stopImmediatePropagation();
      $('#songwrap').remove();

      $.getJSON(
        '/songs.json?page=-1',
        function(data){
          $('#12345').append('<ol start="1" id="songwrap"></ol>')
          $.each(data, function(i, datum){
            var songID = datum['id']
            var link = datum['song_link'].split('watch?v=')[1]
            var points = datum['points']
            var createdAt = datum['created_at']

            if (link == undefined){
              var link = datum['song_link'];
            }

            if (datum['uphubbed'] == 0) {
              $('#songwrap').append('<li class="song" id="'+songID+'" data-uphub="true"></li>')
            } else {
              $('#songwrap').append('<li class="song" id="'+songID+'" data-uphub="false"></li>')
            }
            if (datum['voted'] == 0){
              $('#'+songID).append('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;')
            } else if (datum['voted'] == 1){
              $('#'+songID).append('<a href="/sessions/new" class="upvote">^</a>&nbsp;&nbsp;&nbsp;')
            } else {
              $('#'+songID).append('<a href="/songs/'+songID+'/upvote" class="upvote">^</a>&nbsp;&nbsp;&nbsp;')
            }
            $('#'+songID).append('<span id="song"><a href="/songs?d='+link+'">'+datum["song_artist"]+" - "+datum["song_name"]+'</a></span>')
            $('#'+songID).append('<div class="info_bar">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>')
            $('#'+songID+' .info_bar').append('<span class="12345">'+points+' points ~ </span>')
            $('#'+songID+' .info_bar').append('<a class="user" href="/users/'+datum["author_id"]+'" data_author_total="'+datum["author_total"]+'" data_author_avg="'+datum["author_avg"]+'" data_author_submissions="'+datum["author_submissions"]+'">'+datum["author"]+'</a>')
            $('#'+songID+' .info_bar').append('&nbsp;|&nbsp;'+ datum['time'] +' ago')
          })
          $('#songwrap').append('<span class="pagination"><span id="nextbtn"><a href="/songs?page=1">next</a></span></span>')
        }
      )
    })



  })
</script>

