<div class="top_header">
  <%= link_to '.dream', root_path %>
  <%= "| " %>
  <% if current_user %>
    <%= link_to 'logout', session_path(current_user), method: :delete %>
    <%= "| " %>
    <%= link_to "#{current_user.username}", user_path(current_user) %>
    <%= "| " %>
    <%= "avg(#{current_user.avg})" %>
  <% else %>
    <%= link_to 'login', new_session_path %>
    <%= "| " %>
    <%= link_to 'signup', new_session_path %>
  <% end %>
  <%= "| " %>
  <%= link_to 'submit', new_song_path %>
</div>

<div class="big_header">
  <h1><%= link_to '.edm', root_path %></h1>
</div>

<div class="small_header_index">
  <%= link_to "relevance", songs_path(:by_time => 0) %>
  <%= "| " %>
  <%= link_to "time", songs_path(:by_time => 1) %>
</div>
<ol start=<%= "#{@start_num}" %> >
  <%= render @songs %>
</ol>
<div class="testing1">

  <% if @embed %>
    <iframe width="545" height="335" src=<%="http://www.youtube.com/embed/#{@embed}?autoplay=1&controls=2&iv_load_policy=3&autohide=2&modestbranding=1"%> frameborder="0"></iframe>
  <% else %>
    <div class="motto">
      <i>&nbsp;&nbsp;&nbsp;&nbsp;we love music <br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;we value simplicity <br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;we <a href="http://bit.ly/X9MzcP" target="_blank">d</a><a href="http://bit.ly/XNAcV7" target="_blank">r</a><a href="http://bit.ly/VTta4S" target="_blank">e</a><a href="http://bit.ly/VTtdxu" target="_blank">a</a><a href="http://bit.ly/YZ6DAM" target="_blank">m</a> simple music exploration</i>
    </div>
  <% end %>
</div>
<!--   <iframe width="50%" height="140" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F75900036&amp;color=ff6600&amp;auto_play=true"></iframe> -->
<div class="pagination">
  <% if @more %>
    <% params[:page] = @next_page %>
    <a href="#"><%= link_to 'next', songs_path(params) %></a>
  <% end %>
</div>