<div class="page-wrapper"> 
  <div class="left-side-wrapper">
    <div class="top_header">
      <%= link_to 'roseay', root_path %>
      | 
      <% if current_user %>
        <%= link_to 'logout', session_path(current_user), method: :delete %>
        | 
        <%= link_to "#{current_user.username}", user_path(current_user), {class: 'user',
                                                                          id: 'logged_in',
                                                data_author_total: current_user.total,
                                                data_author_avg: current_user.avg,
                                                data_author_submissions: current_user.submissions.length} %>
      <% else %>
        <a href="#newSessionModal" data-toggle="modal">login</a>
        |
        <a href="#newSessionModal" data-toggle="modal">join</a>
      <% end %>
      |
      <span class="about">readme</span>
    </div>

    <a href="#newSongModal" class="submit-button" data-toggle="modal">submit</a>
    <div class="big_header">
      <h1><%= link_to '.edm', root_path %></h1>
    </div>

    <div class="small_header_index">
      <span class="random">randomize</span>
    </div>
    <div id="12345" data-time="<%=@by_time%>">
      <ol start=<%= "#{@start_num}" %> id="songwrap" >
          <%= render @songs %>
          <span class="pagination">
            <% if @more %>
              <% params[:page] = @next_page %>
              <span id="nextbtn"><%= link_to 'next', songs_path(params) %></span>
            <% end %>
          </span>
      </ol>
    </div>
  </div>

  <div class="right-side-wrapper">
    <div class="testing1">
      <% if @embed %>
        <% if @embed.include?('soundcloud') %>
          <% embed_info = @client.get('/oembed', :url => CGI::unescape(@embed)) %>
          <%= embed_info['html'] %>
        <% else %>
          <iframe  width="545" height="220" src=<%="http://www.youtube.com/embed/#{@embed}?autoplay=1&controls=2&iv_load_policy=3&autohide=2&modestbranding=1&loop=1&fmt=18"%> frameborder="0"></iframe>
        <% end %>
      <% else %>
        <div class="player-holder"><span class="player-holder-text"><br><br><br>click a song</span></div>
      <% end %>

     <div class="remark-section">
      <div class="remark-header" data-filer="">
        air remarks<br>
      </div>
      <textarea class="remark-input"></textarea>
      <button class="remark-input-btn">post</button>
      <span class="refresh">home</span>
      <span class="remarks">
      </span>
      <span class="pagination"><a class="next-remark-btn" data-remark-page="1" data-remark-filter>next</a></span>
      <br>
     </div>
    </div>
  </div>
</div>
<!-- <div class="playlist-container">
  <div class="playlist-song1">a</div>
  <div class="playlist-song2">b</div>
  <div class="playlist-song3">c</div>
  <div class="playlist-song4">d</div>
</div> -->

 
<%= render 'new_song_modal' %>
<%= render 'new_session_modal' %>


<script src="//connect.soundcloud.com/sdk.js"></script>
<script>
    SC.initialize({client_id:"8f1e619588b836d8f108bfe30977d6db"});
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39171492-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>