<% if current_user %>
  <%= link_to 'logout', session_path(current_user), method: :delete %>
<% else %>
  <%= link_to 'login', new_session_path %>
  <%= link_to 'signup', new_user_path %>
<% end %>
<h1>.songs</h1>
<br>
<% @songs.each do |song| %>
  <ol ><style type="text/css">a {text-decoration: none}</style>
    <%= link_to " #{song.song_artist} - #{song.song_name}", song.song_link %>
    <br>
    <%= "#{song.points} points by " %>
    <%= link_to song.author.username, user_path(song.author) %>
    <%= "| #{distance_of_time_in_words(song.created_at-Time.now.round(3))} ago" %>
  </ol>
<% end %>